:root {
  --dark-blue: #060f26;
  --med-dark-blue: #192238;
  --dark-grey: #302e2e;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

nav {
  background-color: var(--dark-blue);
}

nav > ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

ul > li{
  float:left;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}

li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid var(--dark-blue);
}

li a:hover {
  border-bottom-color: #fff;
}

header {
    padding: 1rem;
    background: var(--med-dark-blue);
    border-bottom: 10px solid var(--dark-blue);
}

h1, h2, h3 {
    text-align: center;
    color: #fff;
}

header > h2 {
  margin-top: 50px;
}

#navTitle {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  float: left;
  margin-right: 50px;
  color: #fff;
  font-weight: bolder;
  font-size: 2em;
}

article {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

section {
    padding: 2rem;
}

#introContainer {
  display: flex;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: slategray;
}

#introPicture {
  max-width: 30%;
  flex-basis: 20%;
}

.sectionText {
  padding: 20px;
  font-size: 120%;
}

footer > p {
    text-align: center;
}

@media only screen and (max-width: 450px) {
  header > h2{
    font-size: 1em;
    margin-top: 20px;
  }
  #introContainer {
    display: block;
    width: 100%;
  }

  #introPicture {
    max-width: 100%;
  }

  .sectionText {
    word-wrap: break-word;
    font-size: 0.8em;
  }

  #navTitle {
    text-align: center;
    width: 100%;
    padding-left: 0px;
    font-size: 1.5em;
  }
  
  ul > li{
    text-align: center;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  li a {
    border-bottom: 0px;
    font-size: 0.8em;
  }

  li a:active {
    background-color: #fff;
    color: var(--dark-blue);
  }
}