:root {
  --dark-blue: #060f26;
  --med-dark-blue: #192238;
  --dark-grey: #302e2e;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
  background-color: var(--dark-blue);
}

nav > ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.navLink{
  float:left;
  background-color: var(--dark-blue);
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}

li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid var(--dark-blue);
}

li a:hover, li a:active {
  border-bottom-color: #fff;
  transition: border-bottom-color 0.5s ease-in;
}

header {
    padding: 1rem;
    background: var(--med-dark-blue);
    border-bottom: 10px solid var(--dark-blue);
    margin-bottom: 50px;
    height: 100vh;
}

h1, h2, h3, h4 {
    text-align: center;
}

header > h2 {
  margin-top: calc(100vh/6);
  color: #fff;
}

#navTitle {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  float: left;
  margin-right: 50px;
  color: #fff;
  font-weight: bolder;
  font-size: 2em;
}

#introContainer {
    padding: 2rem;
}

#introContent {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: slategray;
}

#introPicture {
  max-width: 30%;
  flex-basis: 20%;
}

.introText {
  padding: 20px;
  font-size: 120%;
}

article {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 100vh;
}

article > section {
  width: 30%;
  height: calc(100vh/2.5);
  margin: 5px;
  box-shadow: 2px 2px 5px grey;
}

.languageDesc {
  visibility: hidden;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.2em;
  margin-top: 20px;
}

section:hover > figure .languageLogo, section:hover > figure > figcaption {
  /*background-image: url("./images/canary.jpeg");
  background-size: cover;
  color: rgba(255, 255, 255, 0);*/
  display: none;
}

section:hover > figure > .languageDesc{
  visibility: visible;
}

figure {
  flex-basis: 100%;
}

.languageLogo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-size: 2em;
  text-align: center;
}

footer {
  background-color: var(--dark-blue);
  padding: 20px;
}

footer > p {
  color: #fff;
    text-align: center;
}

@media only screen and (max-width: 450px) {
  header {
    margin-bottom: 20px;
  }

  header > h2{
    font-size: 1em;
    margin-top: 20px;
  }
  #introContent {
    display: block;
    width: 100%;
  }

  #introPicture {
    max-width: 100%;
  }

  .introText {
    word-wrap: break-word;
    font-size: 0.8em;
  }

  #navTitle {
    text-align: center;
    width: 100%;
    padding-left: 0px;
    font-size: 1.5em;
  }
  
  .navLink{
    text-align: center;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .navLink:hover, .navLink:active {
    background-color: #fff;
    color: var(--dark-blue);
  }

  li a {
    border-bottom: 0px;
    font-size: 0.8em;
  }

  .navLink > a:hover, .navLink > a:active {
    color: var(--dark-blue);
  }

  h1 {
    font-size: 1.2em;
  }

  article {
    width: 100%;
    margin-bottom: 0;
  }

  article > section {
    width: 100%;
  }
  
  article > section:hover, article > section:focus{
    height: calc(100vh/2.5);
  }

  figcaption {
    font-size: 1em;
  }

  .languageDesc {
    font-size: 1em;
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}