:root {
  --dark-blue: #060f26;
  --med-dark-blue: #192238;
  --med-blue: #203057;
  --dark-grey: #302e2e;
  --light-blue-grey: rgba(180,180,200,0.1);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(180,180,200,0.5);
}

nav {
    background-color: var(--dark-blue);
    text-align: center;
    position: fixed;
    width: 100%;
}

nav > ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.navLink{
    float: left;
    background-color: var(--dark-blue);
    margin-left: 10px;
    margin-right: 10px;
}

.navLink a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid var(--dark-blue);
}

.navLink a:hover, .navLink a:active {
    border-bottom-color: #fff;
    transition: border-bottom-color 0.5s ease-in;
}

#hamburger {
  color: #fff;
  font-size: 2em;
  display: none;
  text-align: left;
  margin-left: 10px;
}

header {
    padding: 1rem;
    background-image: url('../images/sky2.jpg');
    background-size: cover;
    height: 100vh;
}

#myName {
    color: #fff;
    font-size: 6em;
    font-weight: 200;
}

h1, h2, h3, h4 {
    text-align: center;
}

#welcomeText {
    margin-top: 50px;
    color: #fff;
}

#introContainer {
    padding: 2rem;
}

#introContent {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue-grey);
}

#introPicture {
    max-width: 30%;
    flex-basis: 20%;
}

.introText {
    padding: 20px;
    font-size: 120%;
    color: #fff;
}

#stackArticle {
  display: block; 
  position: relative; 
  top: -40px; 
  visibility: hidden;
}

.headerContent{
    background-color: var(--dark-blue);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 20px solid var(--med-blue);
    border-bottom: 20px solid var(--med-blue);
}

#githubTitle{
    margin-top: 0;
    font-size: 2em;
    color: #fff;
}

#githubStatsContainer, #languageCount {
    text-align: center;
}

#languageCount {
  margin-top: 30px;
  color: #fff;
  font-size: 1.2em;
}

#githubStatsContainer > p{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    color: #fff;
}

#githubStatsContainer > p > span {
    color: green;
}

#stackTitle {
    margin-top: 30px;
}

#stackContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 120px;
}

#stackContainer > section {
    background-color: #fff;
    margin: 5px;
    overflow: hidden;
    aspect-ratio: 1;
    padding: 30px;
} 

.languageLogo {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
} 

.languageDesc {
    display: none;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-top: 20px;
}

#technologyName {
  font-size: 1.2em;
}

#stackContainer > section:hover {
    background-color: var(--light-blue-grey);
    border: 2px solid slategray;
}

#projectsTitle{
  font-size: 2em;
  color: #fff;
}

.projectItem {
  display: grid;
  display: flex;
  column-gap: 20px;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}

.projectImage {
  flex-basis: 40%;
  width: 40%;
  box-shadow: 2px 2px 5px grey;
}

.projectContent {
  vertical-align: middle;
}

.projectTitle, .projectLanguages, .projectTools, .projectLink {
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}

.projectLanguages > span, .projectTools > span, .projectLink {
  color: var(--med-blue);
  font-weight: 500;
}

.projectDescription {
  border: 2px solid lightsteelblue;
  padding: 10px;
  margin-right: 20px;
  height: 140px;
  overflow: scroll;
}

footer {
    background-color: var(--dark-blue);
    padding: 20px;
    border-bottom: 20px solid var(--med-blue);
}

footer > p {
    color: #fff;
    text-align: center;
}

.footerLink a{
    text-decoration: none;
    color: #fff;
    line-height: 1.5em;
}

@media only screen and (min-width: 801px) and (max-width: 1200px) {
  #introContent {
    width: 60%;
    background-color: rgba(180,180,200);
    position: absolute;
    top: 50vh;
    left: 20%;
  }

  #introPicture {
    position: absolute;
    max-width: 40%;
    top: -25vh;
    border-radius: 50%;
  }

  .introText {
    word-wrap: break-word;
    color: black;
  }
}

@media only screen and (min-width: 451px) and (max-width: 800px)  {
  #myName {
    font-size: 4em;
    margin-top: 200px;
  } 

  #introContent {
    display: block;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    background-color: rgba(180,180,200);
  }

  #introPicture {
    max-width: 100%;
  }

  .introText {
    word-wrap: break-word;
    font-size: 0.8em;
    color: black;
  }
}

@media only screen and (max-width: 450px) {

  #myName {
    font-size: 2em;
    margin-top: 50px;
  } 

  header {
    height: 120vh;
  }
  
  #welcomeText {
    font-size: 1em;
    margin-top: 20px;
  }

  #introContent {
    display: block;
    width: 100%;
    background-color: rgba(180,180,200);
  }

  #introPicture {
    max-width: 100%;
  }

  .introText {
    word-wrap: break-word;
    font-size: 0.8em;
    color: black;
  }

  nav > ul {
    display: none;
  }

  .navLink{
    width: 100%;
    padding: 10px;
    margin-right: 0;
    margin-left: 0;
  }
  

  .navLink:hover, .navLink:active {
    background-color: #fff;
    color: var(--dark-blue);
  }

  li a {
    border-bottom: 0px;
    font-size: 0.8em;
  }

  .navLink > a:hover, .navLink > a:active {
    color: var(--dark-blue);
  }

  #hamburger {
    display: block;
  }

  h1 {
    font-size: 1.2em;
  }

  #githubContent{
    margin-bottom: 20px;
  }
  
  #githubStatsContainer > p{
    font-size: 1em;
    display: block;
  }

  #languageCount {
    font-size: 0.8em;
  }

  #stackContainer {
    grid-template-columns: 1fr;
    height: 200px;
    overflow: auto;
    margin-bottom: 50px;
  }

  #stackContainer > section {
    width: 100%;
    height: calc(100vh/3.5);
  }

  #githubTitle, #projectsTitle {
    font-size: 1.5em;
  }

  #projectList {
    overflow: auto;
    height: 100vh;
    margin-bottom: 150px;
  }

  .projectItem {
    grid-template-columns: 1fr;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}



